---
layout: page
title: Welcome!
tagline: Good to have you here!
---
{% include JB/setup %}

<div class="hero-unit">    
    <div class="row">
    <div class="span2"> <img src="http://www.gravatar.com/avatar/7f0e8ec31c9c8307ed3973fb243afed4.png" class="img-circle"> </div>
    <div class="span10"><p> My name is Amente (Bullo) Bekele. I am a Computer Systems Engineering student at Carleton University. I like to code in my spare time + school . This is my personal website to showcase my coding projects and interests. </p> </div>      
    </div>    
</div> 

<div class="span12">
<div class="span6">
<h2>Blog Posts</h2>
<ul class="posts">
  {% for post in site.posts limit:5 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
  <div class="pull-right">
    <a class="btn btn-primary btn-small" href="./blog.html">
      More Posts..
    </a>
  </div>
</div>
<div class="span6">
<h2>Side Projects</h2>
<ul>
     {% assign pages_list = site.pages %}
     {% assign group = 'project' %}     
     {% include JB/pages_list %}
</ul>

</div>
</div>


