<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  
</div>
   {% if page.info %}
    <div class="alert alert-info">
      {{page.info}}
    </div>
   {% endif %}

<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
<div class="span12"> </div>
  <div class="span12" style="margin-left:0px">
  	<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">   
    {% for pic in page.pictures %}
    {%if forloop.first %}
    <div class="item active">
      {%else%}
    <div class="item">
      {%endif%}
      <div style='text-align: center'>
      <img style='margin 0 auto' src="{{pic}}" alt="" />
      </div>      
    </div>
    {% endfor %}
   
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
  </div>  
 
 <div class="tabbable"> <!-- Only required for left/right tabs -->
 <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-folder-open"></i> Motivation</a></li>
    <li><a href="#tab2" data-toggle="tab"><i class="icon-certificate"></i>Project Details</a></li>
    <li><a href="#tab3" data-toggle="tab"><i class="icon-wrench"></i>Gained Experience</a></li>
 </ul>
	<div class="tab-content" style="overflow-x:hidden">
 		<div class="tab-pane active" id="tab1">
      <p>
        {{page.motivation}}
      </p>
 		</div>
 		<div class="tab-pane" id="tab2">
        <p>
    		{{page.details}}
        </p>
 		</div>
    <div class="tab-pane" id="tab3">
      <p>
    		{{page.experience}}
      </p>
 		</div> 
 		
	</div> <!-- End tab content -->
</div> <!-- End tabbable -->


</div>